
*.deploy
*.cache
*.manifest
*.exe
*.manifest
LM2ReadandList/bin/Debug/app.publish/LM2ReadandList_Customized.application
LM2ReadandList/bin/Debug/app.publish/LM2ReadandList_Customized.exe
LM2ReadandList/bin/Debug/LM2ReadandList_Customized.application
LM2ReadandList/bin/Debug/LM2ReadandList_Customized.exe
LM2ReadandList/bin/Debug/LM2ReadandList_Customized.exe.manifest
LM2ReadandList/bin/Debug/LM2ReadandList_Customized.pdb
LM2ReadandList/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LM2ReadandList/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LM2ReadandList/obj/Debug/LM2ReadandList.csproj.CoreCompileInputs.cache
LM2ReadandList/obj/Debug/LM2ReadandList.csproj.FileListAbsolute.txt
LM2ReadandList/obj/Debug/LM2ReadandList.csproj.GenerateResource.cache
LM2ReadandList/obj/Debug/LM2ReadandList.csproj.ResolveComReference.cache
LM2ReadandList/obj/Debug/LM2ReadandList_Customized.application
LM2ReadandList/obj/Debug/LM2ReadandList_Customized.exe
LM2ReadandList/obj/Debug/LM2ReadandList_Customized.exe.manifest
LM2ReadandList/obj/Debug/LM2ReadandList_Customized.pdb
LM2ReadandList/obj/Debug/*
.vs/*
